<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="assets/images/HIGN-logo-1200.png"
         height="70%" width="200px"
         alt="HIGN Logo"
         class="logo"
         routerLink="/home" />

    <div class="mat-spacer"></div>
    @for (option of options; track option.label) {
      <a mat-button [routerLink]="option.link" routerLinkActive="active">
        {{ option.label | translate }}
      </a>
    }
    <app-language-switcher/>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet/>
